<!DOCTYPE html>
<html lang="pt-BR">
<head th:fragment="head (title)">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title th:text="${'Anime Note - ' + title}"></title>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<footer th:fragment="footer">
		<script src="@{/js/jquery.min.js}"></script>
		<script src="@{/js/jquery.autocomplete.min.js}"></script>
		<script src="@{/js/bootstrap.min.js}"></script>
		<script src="@{/js/jquery.validate.min.js}"></script>
		<script src="@{/js/messages_pt_BR.min.js}"></script>
		<script src="@{/js/formValidateSettings.js}"></script>
	</footer>
</body>
</html>
