<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="fragments/fragments :: head (title = 'Anime')"></head>
<body>
	<header th:replace="fragments/fragments :: internalHeader"></header>

	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<div class="well">
						<img th:src="${animeImage}" th:alt="${anime.name}" class="img-responsive" />

						<hr />
						
						<div class="list-group">
	                        <a th:href="${'/anime/' + anime.id + '/ja_vi'}" class="list-group-item text-center" th:classappend="${#strings.toString(userInteraction) == 'JA_VI'} ? list-group-item-success : ''">Já vi</a>
	                        <a th:href="${'/anime/' + anime.id + '/estou_vendo'}" class="list-group-item text-center" th:classappend="${#strings.toString(userInteraction) == 'ESTOU_VENDO'} ? list-group-item-success : ''">Estou vendo</a>
	                        <a th:href="${'/anime/' + anime.id + '/quero_ver'}" class="list-group-item text-center" th:classappend="${#strings.toString(userInteraction) == 'QUERO_VER'} ? list-group-item-success : ''">Quero ver</a>
	                    </div>

						<dl>
							<dt>Cadastrador:</dt>
							<dd>
								<a th:href="${'/usuario/' + anime.user.username}" th:text="${anime.user.name}"></a>
							</dd>
							<dt>Criador:</dt>
							<dd th:text="${anime.animeCreator.name}"></dd>
							<dt>Ano de Lançamento:</dt>
							<dd th:text="${#dates.format(anime.releaseYear, 'yyyy')}"></dd>
							<dt>Número de Episódios:</dt>
							<dd th:if="${anime.episodeNumbers}" th:text="${anime.episodeNumbers}"></dd>
							<dd th:unless="${anime.episodeNumbers}">Em lançamento</dd>
							<dt>Categoria(s):</dt>
							<dd>
								<span class="badge" th:each="category : ${anime.animeCategories}" th:text="${category.category}"></span>
							</dd>
						</dl>
					</div>
				</div>
				<div class="col-xs-12 col-sm-9">
					<div class="well">
						<h1 th:text="${anime.name}"></h1>
						<div th:utext="${anime.resume}"></div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>
