<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="fragments/fragments :: head (title = 'Anime')"></head>
<body>
	<header th:replace="fragments/fragments :: internalHeader"></header>

	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<div class="well">
						<img th:src="${animeImage}" th:alt="${anime.name}" />
						<hr />
						<dl>
							<dt>Cadastrador:</dt>
							<dd>
								<a th:href="${'/perfil/' + anime.user.username}" th:text="${anime.user.name}"></a>
							</dd>
							<dt>Criador:</dt>
							<dd th:text="${anime.animeCreator.name}"></dd>
							<dt>Ano de Lançamento:</dt>
							<dd th:text="${#dates.format(anime.releaseYear, 'yyyy')}"></dd>
							<dt>Número de Episódios:</dt>
							<dd th:if="${anime.episodeNumbers}" th:text="${anime.episodeNumbers}"></dd>
							<dd th:unless="${anime.episodeNumbers}">Em lançamento</dd>
							<dt>Categoria(s):</dt>
							<dd>
								<span class="badge" th:each="category : ${anime.animeCategories}" th:text="${category.category}"></span>
							</dd>
						</dl>
					</div>
				</div>
				<div class="col-xs-12 col-sm-9">
					<div class="well">
						<h1 th:text="${anime.name}"></h1>
						<div th:utext="${anime.resume}"></div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>
