<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="fragments/fragments :: head (title = 'Alterar senha')"></head>
<body>
	<form th:action="@{/alterar-senha}" method="post">
		<span th:text="${error}"></span>
		<span th:text="${success}"></span>
		<div>
			<label for="password">Senha:</label>
			<input type="password" name="password" id="password" />
		</div>
		
		<div>
			<label for="new-password">Nova senha:</label>
			<input type="password" name="newPassword" id="new-password" />
		</div>

		<div>
			<label for="new-password-confirmation">Confirmação de nova senha:</label>
			<input type="password" name="newPasswordConfirmation" id="new-password-confirmation" />
		</div>

		<button type="submit">Alterar</button>
	</form>
</body>
</html>
