<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="fragments/fragments :: head (title = 'Seguidores')"></head>
<body>
    <header th:replace="fragments/fragments :: internalHeader"></header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Seus seguidores</h2>
                </div>
                <div class="col-xs-12">
                    <div class="alert alert-warning text-center" th:if="${size == 0}">Ninguém está seguindo você :(.</div>
                </div>
                <div class="col-xs-12">
                    <div class="list-group">
                        <a th:href="${'/usuario/' + user.follower.username}" class="list-group-item text-center" th:if="${followers != null}" th:each="user : ${followers}" th:text="${user.follower.name}"></a>
                    </div>
                </div>
            </div>
        </div>
    </main>

	<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>
