<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="fragments/fragments :: head (title = 'Esqueci minha senha')"></head>
<body>
	<form th:action="@{/esqueci-minha-senha}" method="post">
		<span th:text="${error}"></span>
		<span th:text="${message}"></span>
		<div>
			<label for="email">E-mail:</label>
			<input type="text" name="email" id="email" maxlength="50" />
		</div>

		<button type="submit">Enviar</button>
	</form>
	<a href="/login">Fazer Login</a>
	
	<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>
