<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Anime Note - Recuperação de Senha</title>
</head>
<body>
	<h1>
		Olá, <span th:text="${name}"></span>!
	</h1>
	<p>
		Para seu usuário <span th:text="${username}"></span> foi gerada uma nova senha: <strong th:text="${password}"></strong>. Esta senha foi gerada de forma automática, por isso, faça a alteração na próxima vez que entrar.
	</p>
	<p>
		<a th:href="${'http://' + host + '/login'}">Faça seu login!</a>
	</p>
</body>
</html>
