<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Anime Note - Esqueci Minha Senha</title>
</head>
<body>
	<form th:action="@{/esqueci-minha-senha}" method="post">
		<span th:text="${error}"></span>
		<span th:text="${message}"></span>
		<div>
			<label for="email">E-mail:</label>
			<input type="text" name="email" id="email" maxlength="50" />
		</div>

		<button type="submit">Enviar</button>
	</form>
	<a href="/login">Fazer Login</a>
</body>
</html>
