<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Anime Note - Login</title>
</head>
<body>
	<form th:action="@{/login}" method="post">
		<span th:text="${error}"></span>
		<span th:text="${message}"></span>
		<div>
			<label for="username">Usuário:</label>
			<input type="text" name="username" id="username" maxlength="50" />
		</div>

		<div>
			<label for="password">Senha:</label>
			<input type="password" name="password" id="password" />
		</div>
		
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

		<button type="submit">Entrar</button>
	</form>
	<a href="/esqueci-minha-senha">Esqueci minha senha</a>
	<br />
	<a href="/cadastro">Novo por aqui? Faça seu cadastro aqui!</a>
</body>
</html>
