<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="fragments/fragments :: head (title = 'Postagem')"></head>
<body>
	<header th:replace="fragments/fragments :: internalHeader"></header>
	
	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<form th:object="${userPost}" th:action="@{/postagem}" method="post">
								<div class="alert alert-danger text-center" th:if="${error}" th:text="${error}"></div>
								<div class="alert alert-success text-center" th:if="${success}" th:text="${success}"></div>
						
								<div class="form-group" th:classappend="${#fields.hasErrors('post')} ? has-error : ''">
									<label for="post">Postagem:</label>
									<textarea th:field="*{post}" id="post" class="form-control" placeholder="Postagem" />
									<span th:if="${#fields.hasErrors('post')}" th:errors="*{post}" class="help-block"></span>
								</div>

								<button type="submit" class="btn btn-block btn-primary">Fazer Postagem</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>
