<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="fragments/fragments :: head (title = 'Denunciar Postagem')"></head>
<body>
    <header th:replace="fragments/fragments :: internalHeader"></header>

    <main>
        <div class="container">
			<div class="row">
				<div class="col-xs-12">
                    <form th:action="${formAction}" method="POST" novalidate="novalidate">
                        <div class="alert alert-danger text-center" th:if="${error}" th:text="${error}"></div>
						<div class="alert alert-success text-center" th:if="${success}" th:text="${success}"></div>

                        <div class="form-group">
                            <label for="report">Denúncia:</label>
                            <textarea name="report" id="report" class="form-control" required="required"></textarea>
                        </div>
                        <input type="hidden" name="id" th:value="${id}" />
                        <button type="submit" class="btn btn-primary btn-block">Fazer Denúncia</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

	<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>
