<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="fragments/fragments :: head (title = 'Timeline')"></head>
<body>
    <header th:replace="fragments/fragments :: internalHeader"></header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="text-center">
                        <a th:href="${'/usuario/' + user.username}">
                            <img th:if="${avatar}" th:src="${avatar}" th:alt="${user.name}" class="img-circle timeline-avatar" />
                            <img th:unless="${avatar}" src="/images/avatars/avatar-01.jpg" th:alt="${user.name}" class="img-circle timeline-avatar" />
                        </a>
                        <h2 th:text="${user.name}"></h2>
                    </div>
                    <div class="list-group" th:if="${user.id == userLoggedId}">
                        <a href="/postagem" class="list-group-item list-group-item-success text-center">
                            <i class="glyphicon glyphicon-pencil"></i> Escrever Postagem
                        </a>
                    </div>
                    <div class="list-group" th:if="${user.id != userLoggedId}">
                        <a th:href="${'/usuario/' + user.username + '/follow'}" class="list-group-item list-group-item-success text-center" th:if="${!follow}">
                            <i class="glyphicon glyphicon-ok-sign"></i> Seguir
                        </a>
                        <a th:href="${'/usuario/' + user.username + '/unfollow'}" class="list-group-item list-group-item-danger text-center" th:if="${follow}">
                            <i class="glyphicon glyphicon-remove-sign"></i> Deixar de Seguir
                        </a>
                    </div>
                    <div class="list-group">
                        <a th:href="${'/usuario/' + user.username + '/seguidos'}" class="list-group-item">
                            <span class="badge" th:text="${followerQuantity}"></span>Seguindo
                        </a>
                        <a th:href="${'/usuario/' + user.username + '/seguidores'}" class="list-group-item">
                            <span class="badge" th:text="${followedQuantity}"></span>Seguidores
                        </a>
                        <a th:href="${'/usuario/' + user.username + '/cadastros'}" class="list-group-item">
                            <span class="badge" th:text="${registeredAnimesQuantity}"></span>Animes Cadastrados
                        </a>
                        <a th:href="${'/usuario/' + user.username + '/interagidos'}" class="list-group-item">
                            <span class="badge" th:text="${interactedAnimes}"></span>Animes Interagidos
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <div class="panel panel-default" th:if="${posts != null}" th:each="post : ${posts}">
                        <div class="panel-heading">
                            <strong>
                                <a th:href="${'/usuario/' + post.user.username}" th:text="${post.user.name}"></a>
                            </strong> postou em <strong th:text="${#dates.format(post.postDate, 'HH:mm - dd/MM/yyyy')}"></strong>
                            <div class="btn-group pull-right">
                                <a th:href="${'/editar-postagem/' + post.id}" class="btn btn-success btn-xs" th:if="${userLoggedId == post.user.id}">
                                    <i class="glyphicon glyphicon-edit"></i> Editar
                                </a>
                                <a th:href="${'/excluir-postagem/' + post.id}" class="btn btn-danger btn-xs" th:if="${userLoggedId == post.user.id}">
                                    <i class="glyphicon glyphicon-trash"></i> Deletar
                                </a>
                                <a th:href="${'/denunciar-postagem/' + post.id}" class="btn btn-warning btn-xs" th:if="${userLoggedId != post.user.id}">
                                    <i class="glyphicon glyphicon-bullhorn"></i>
                                    Denunciar
                                </a>
                            </div>
                        </div>
                        <div class="panel-body" th:utext="${post.post}"></div>
                        <div class="panel-footer">
                            <a th:href="${'/visualizar-postagem/' + post.id}" class="btn btn-success btn-xs">
                                <i class="glyphicon glyphicon-zoom-in"></i> Visualizar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

	<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>
