<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Anime Note - Timeline</title>
    
    <link th:href="@{/css/test.css}" rel="stylesheet" />
</head>
<body>
    <h1>Timeline do usuário.</h1>
    <form th:action="@{/logout}" method="post">
		<button type="submit">Sair</button>
	</form>
	
	<span th:text="${user.name}"></span>
	
	<img th:if="${user?.avatar}" th:src="${avatar}" th:alt="${user.name}" />
	
	<a th:href="@{/atualizar-avatar}">Atualizar Avatar</a>
</body>
</html>
