<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Anime Note - Timeline</title>
</head>
<body>
    <h1>Timeline do usuário.</h1>
    <form th:action="@{/logout}" method="post">
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
		<button type="submit">Sair</button>
	</form>
	
	<form th:action="@{/avatar-upload}" method="post" enctype="multipart/form-data">
		<input type="file" name="${avatar}" />
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
		<button type="submit">Enviar</button>
	</form>
</body>
</html>
