<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Anime Note - Cadastro de Usuário</title>
</head>
<body>
	<form th:object="${user}" th:action="@{/user-registration}" method="post">
		<div>
			<label for="name">Nome:</label>
			<input type="text" th:field="*{name}" id="name" maxlength="50" />
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		</div>

		<div>
			<label for="email">E-mail:</label>
			<input type="text" th:field="*{email}" id="email" />
			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
		</div>
		
		<div>
			<label for="username">Usuário:</label>
			<input type="text" th:field="*{username}" id="username" maxlength="50" />
			<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
		</div>

		<div>
			<label for="password">Senha:</label>
			<input type="password" th:field="*{password}" id="password" />
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
		</div>

		<div>
			<label for="passwordConfirmation">Confirmação de senha:</label>
			<input type="password" th:field="*{passwordConfirmation}" id="passwordConfirmation" />
			<span th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}"></span>
		</div>

		<button type="submit">Cadastrar</button>
	</form>
</body>
</html>
